<section class="wgc__layout__item wgc__layout__item--center wgc__lap-and-up-layout-group--gutter-one-bsu">
  <section role="main" class="wgc__lap-and-up-layout__item wgc__lap-and-up-column-width--two-thirds">
    <div class="palm-carousel__border wgc__palm-layout-group--gutter-one-bsu wgc__palm-margins-vertical--one-half-bsu">
      <%= render 'demos/carousel' %>
    </div>

    <article role="article" class="main-article__border wgc__layout-group--gutter-one-bsu wgc__lap-and-up-margin-top--one-bsu wgc__margin-bottom--one-half-bsu">
      <%= render 'demos/article' %>
    </article>

    <div class="palm-layout-eg-1__border wgc__palm-layout-group--gutter-one-bsu wgc__margin-bottom--one-half-bsu">
      <%= render 'demos/layout_example_one' %>
    </div>

    <div class="palm-layout-eg-2__border wgc__palm-layout-group--gutter-one-bsu wgc__margin-bottom--one-half-bsu">
      <%= render 'demos/layout_example_two' %>
    </div>

    <div class="palm-layout-eg-3__border wgc__palm-layout-group--gutter-one-bsu wgc__margin-bottom--one-half-bsu">
      <%= render 'demos/layout_example_three' %>
    </div>
  </section><!--

  --><aside role="complementary" class="wgc__lap-and-up-column-width--one-third wgc__lap-and-up-layout__item wgc__padding-right--none">
    <%= render 'demos/form' %>
    <%= render 'demos/flyout' %>
    <%= render 'demos/buttons' %>
  </aside>
</section>
