<nav class="upper-navbar one-whole">
  <a href="#" class="layout__item one-fifth l-fl pv- ph-- t-uppercase t-dec-none t-center c-black b-solid b-thin b-black b-radius">Home</a>

  <%= form_tag '#', method: 'get', class: 'three-tenths layout__item ml-' do %>
    <%= hidden_field_tag :origin, :navbar %>
    <%=
      text_field_tag :query, params[:query], class: 'upper-navbar__search-field layout__item b-radius pv- pl-- b-thin b-solid b-black',
      placeholder: 'Search...'
    %>

    <%= submit_tag"Search", class: 'upper-navbar__search-submit' %>

    <%= evil_icon('ei-search', size: :m, class: 'upper-navbar__search-icon layout__item') %>
  <% end %>

  <a  href="#" class="layout__item one-fifth l-fr pv- ph-- t-uppercase t-dec-none t-center c-black b-solid b-thin b-black b-radius">Sign Up</a>
  <a  href="#" class="layout__item one-fifth l-fr pv- ph-- t-uppercase t-dec-none t-center c-black b-solid b-thin b-black b-radius mr-">Sign In</a>
</nav>
