<nav class="upper-navbar all-one-whole clearfix">
  <a href="#" class="layout__item all-one-fifth l-fl all-pv- all-ph-- t-uppercase t-dec-none t-center c-black b-solid b-thin b-black b-radius">Home</a>

  <%= form_tag '#', method: 'get', class: 'all-three-tenths layout__item all-ml-' do %>
    <%= hidden_field_tag :origin, :navbar %>
    <%=
      text_field_tag :query, params[:query], class: 'upper-navbar__search-field layout__item b-radius all-pv- all-pl-- b-thin b-solid b-black',
      placeholder: 'Search...'
    %>

    <%= submit_tag"Search", class: 'upper-navbar__search-submit' %>

    <%= evil_icon('ei-search', size: :m, class: 'upper-navbar__search-icon layout__item c-black magnifying-glass') %>
  <% end %>

  <a  href="#" class="layout__item all-one-fifth l-fr all-pv- all-ph-- t-uppercase t-dec-none t-center c-black b-solid b-thin b-black b-radius">Sign Up</a>
  <a  href="#" class="layout__item all-one-fifth l-fr all-pv- all-ph-- t-uppercase t-dec-none t-center c-black b-solid b-thin b-black b-radius all-mr-">Sign In</a>
</nav>
